VITE_FIREBASE_API_KEY=AIzaSyDa86VtEK8XlPuNgjHhGJ-0rT7VKN_iSQ0
VITE_FIREBASE_AUTH_DOMAIN=innova-t-f16bb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=innova-t-f16bb
VITE_FIREBASE_STORAGE_BUCKET=innova-t-f16bb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=488554463220
VITE_FIREBASE_APP_ID=1:488554463220:web:8cae020e6851d8e3e803a1
VITE_FIREBASE_MEASUREMENT_ID=G-W6YNZ74S6L
VITE_ENABLE_FIREBASE_AI=true
VITE_GEMINI_MODEL=gemini-2.5-flash-lite
VITE_FIREBASE_AI_APP_CHECK=false
